body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

video {
  border-radius: 50%;
  border: 5px solid #22c55e;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

/* Mengatur input agar lebih kecil dan responsif */
.form-control {
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
}

/* Kecilkan ukuran select */
.form-select-sm {
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
}

#status {
  margin-top: 10px;
  font-size: 16px;
}

#progressBar {
  width: 300px;
  height: 10px;
  background: #1e293b;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0%;
  background: #22c55e;
  transition: 0.3s;
}

#notif {
  display: none;
  color: #22c55e;
  font-weight: bold;
  margin-top: 10px;
}
